[class*="col-"]{
  background-color: #FEC0CB;
  border: 1px solid black;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.col-6> .container{
padding: 5px;
height: 200px;
  
}

.col-6> .container [class*="col-"]{
  border: 1px solid white;
  background-color: #F08080 ;
  height: 100%;
  line-height: 20px;
}

.relative {
  position: relative;
}

span{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}